/* Estilos Generales */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-family: 'Nunito', sans-serif;
    background-position: center center;
    background-repeat:  no-repeat;
    background-size: cover;
}

p {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

/* Menú superior */
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2fab6f;  
  color: white;
  padding: 10px 20px;
}

.menu .logo {
  font-size: 20px;
  font-weight: bold;
}

.menu .botones button {
  background: none;
  border: none;
  color: white;
  margin-left: 15px;
  font-size: 20px;
  cursor: pointer;
}

.menu .botones button:hover {
  text-decoration: underline;
}

/* Imagen horizontal */
.imagen-superior-horizontal {
  width: 100%;
  height: 220px;
  object-fit: cover;
  display: block;
  /* Hago efecto degradado de la imagen */
  -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
}

.imagen-logo {
  width: 100%;
  height: 100px;
  align-items: left;
}

.imagen-soluciones-en-panificados-central {
  width: 26%;
  height: 168px;
  display: block; 
  margin: 0 auto;
}

@media (max-width: 768px) {
  .contenedor {
    flex-direction: column;
    text-align: center;
  }

  img {
    width: 100%;
  }

  h1 {
    font-size: 24px;
  }
}